//Local configuration
process.executor = 'local'
executor.$local.queueSize = 1
params.cpu = 8



//Input 
params.reads = "./small_data/*_R1.fastq.gz"
params.reads_suffix=".fastq.gz"
params.adapter_trim_tag = "Y"

params.adapterfa = "TruSeq2-SE"

params.DESeq_run_tag = "Y"
params.DESeq_replicates = "Y"
params.analysis_pipeline_run_tag = "Y"

params.sampleinfoxlsx = "SE_Nextflow_pipeline.Human_data.xlsx"
params.studyID = "test_for_publication"
params.compare_group = "all"


//(1)With_adapter: "_R\\d+.fastq.gz";(2)Without_adapter: "_\\d+.clipped.fastq.gz"
params.file.extention = '"_R\\d+.fastq.gz"' 

params.sample.manifest.sheetname = "sample.manifest"
params.samplecompare.sheetname = "samplecompare"


//Parameters for gene expression analysis
params.forwardprob = "0.5"    //Please refer RSEM parameter “--forward-prob” by the link http://deweylab.biostat.wisc.edu/rsem/rsem-calculate-expression.html
params.deseq.log2FC.gene = "1"  // cut off for log2FC
params.deseq.fdr.gene = "0.05"  // cut off for adjust-pvlaue
params.deseq.gmean.gene = "50"  // cut off for max counts of group mean in DESeq result to filter out some low expressed genes
params.gtf = "./reference_genomes/human.hg38.genes.gtf"
params.fasta = "./reference_genomes/human.hg38.genome.fa"



//Parameters for TE expression analysis
params.TE_pipeline_run_tag = "Y"
params.squireFetch.genome = "hg38"  //reference genome versions could be hg38, hg19, mm10, mm9, etc. https://github.com/wyang17/SQuIRE
params.deseq.log2FC.TE = "1"  // cut off for log2FC
params.deseq.fdr.TE = "0.05"  // cut off for adjust-pvlaue
params.deseq.gmean.TE = "50"  // cut off for max counts of group mean in DESeq result to filter out some low expressed TEs




//Output
params.TrimmedDir="Trimmed_RawData"
params.FastQCdir="FastQC_Results"
params.AllResultsDir="All_Results"
params.sampleinfoDir="SampleinfoDir"
params.ReportDir="Report_Results"






//Docker configuration:
process {
    container = 'process.app:latest'
 
    withName:genSampleInfo {
        container = 'sampleinfo.app:latest'
    }
    withName:QC {
        container = 'sampleinfo.app:latest'
    }

    withName:sigGene {
        container = 'analysis.app:latest'
    }
    withName:genGSEAinput {
        container = 'analysis.app:latest'
    }

    withName:submitGSEA {
        container = 'analysis.app:latest'
    }

 
    withName:genGSEAinputExp {
        container = 'analysis.app:latest'
    }

    withName:submitGSEAExp {
        container = 'analysis.app:latest'
    }

    withName:squireFetch {
        container = 'squire.app:latest'
    }

    withName:squireClean {
        container = 'squire.app:latest'
    }

    withName:squireMap {
        container = 'squire.app:latest'
    }

    withName:squireCountProcess {
        container = 'squire.app:latest'
    }
    
    withName:sigTE {
        container = 'analysis.app:latest'
    }


}

docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'
