//Local configuration
process.executor = 'local'
executor.$local.queueSize = 1
params.cpu = 8



//Input 
params.reads = "./RAW_DATA/*_R1.fastq.gz"
params.reads_suffix=".fastq.gz"
params.adapter_trim_tag = "Y"

params.adapterfa = "TruSeq2-SE"

params.DESeq_run_tag = "Y"
params.DESeq_replicates = "Y"
params.analysis_pipeline_run_tag = "Y"

params.sampleinfoxlsx = "SE_Nextflow_pipeline.Human_data.xlsx"
params.studyID = "test_for_publication"
params.compare_group = "all"


params.gtf = "genes.gtf"
params.fasta = "genome.fa"


//(1)With_adapter: "_R\\d+.fastq.gz";(2)Without_adapter: "_\\d+.clipped.fastq.gz"
params.file.extention = '"_R\\d+.fastq.gz"' 

params.sample.manifest.sheetname = "sample.manifest"
params.samplecompare.sheetname = "samplecompare"


//Run TE pipeline
params.TE_pipeline_run_tag = "Y"



//Output
params.TrimmedDir="Trimmed_RawData"
params.FastQCdir="FastQC_Results"
params.AllResultsDir="All_Results"
params.sampleinfoDir="SampleinfoDir"
params.ReportDir="Report_Results"






//Docker configuration:
process {
    container = 'rnaseq_pipeline.app:latest'
 
    withName:genSampleInfo {
        container = 'sampleinfo.app:latest'
    }
    withName:QC {
        container = 'sampleinfo.app:latest'
    }

    withName:sigGene {
        container = 'analysis_pipeline.app:latest'
    }
    withName:genGSEAinput {
        container = 'analysis_pipeline.app:latest'
    }

    withName:submitGSEA {
        container = 'analysis_pipeline.app:latest'
    }

 
    withName:genGSEAinputExp {
        container = 'analysis_pipeline.app:latest'
    }

    withName:submitGSEAExp {
        container = 'analysis_pipeline.app:latest'
    }

    withName:squireFetch {
        container = 'squire.app:latest'
    }

    withName:squireClean {
        container = 'squire.app:latest'
    }

    withName:squireMap {
        container = 'squire.app:latest'
    }

    withName:squireCountProcess {
        container = 'squire.app:latest'
    }
    
    withName:sigTE {
        container = 'analysis_pipeline.app:latest'
    }


}

docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'
